{
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "extends": [
    "plugin:promise/recommended",
    "plugin:node/recommended",
    "airbnb/base",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": "off"
  }
}
